html { 
    overflow-y: hidden; 
    height: 100%;
} 

body{
    height: 100%
    background-color: rgba(250, 250,250, 1);
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    position:relative;
    display:flex;
    justify-content: flex-start;
    flex-direction:column;
    margin:0;
    width:100vw;
    overflow:hidden;
}

p {
   font-size: 12px;
   color: #003569;
}

a {
    color: #3897f0;
    text-decoration: none;
}

a:visited {
    color: #003569;
}

strong{
    margin-right: 30px;
    float: right;
    color: grey;
}

#container{
    display: flex;
    width: 100%;
    left: 0;
    right: 0;
    position: relative;
    background-color: rgba(250, 250, 250, 1);
    justify-content: center;
    align-items: center;
}

#container_sign_in {
    align-items: center;
    justify-content: center;
    margin: 30px auto 0;
    max-width: 935px;
    padding-bottom: 44px;
    width: 100%;
    flex-grow: 1;
    flex-direction: row;
    display: flex;
}

#mockup_iphone {
    height: 47vw;
    width: 45.5vw;
    float: left;
    max-width: 454px;
    max-height: 618px;
}

#iphone_pic{
    width: 47.5vw;
    height: 45vw;
}

#formulary_sd{
    background-color: rgba(250, 250,250, 1);
    width: 28vw;
    height: 3.2vw;
}

#formulary_td{
    background-color: rgba(255, 255, 255, 1);
    width: 28vw;
    height: 28.8vw;
    border-top-style: solid;
    border-top-width: thin;
    border-left-style: solid;
    border-left-width: thin;
    border-right-style: solid;
    border-right-width: thin;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: rgba(230, 230, 230, 1);
}

#formulary {
    display: flex;
    background-color: rgba(255, 255,255, 1);
    margin-left: 37.5vw;
    width: 28vw;
    height: 42vw;
    max-width: 350px;
    flex-direction: column;
    position: relative;
}

#formulary_title {
    width: 27.9vw;
    height: 5vw;
}

#formulary_form {
    width: 27.9vw;
    height: 23vw;
}

#formulary_login {
    margin-top: 3vw;
    width: 18vw;
    height: 3vw;
    margin-left: -3vw;
}

#formulary_password {
    margin-top: 2vw;
    width: 18vw;
    height: 3vw;
    margin-left: -3vw;
}

#formulary_decoration {
    color: #999;
    margin-left: 13vw;   
}

#formulary_forget_password {
    font-size: 0.8vw;
    margin-left: 2.7vw;
    line-height: 3.5vw;
    text-align: center;
    color: #003569;
}

#formulary_fd {
    background-color: rgba(250, 250,250, 1);
    width: 30vw;
    height: 2.2vw;
    margin-top: 0.9vw;
    margin-left: -1vw;
}

#formulary_sign_up {
    width: 27.9vw;
    height: 7.4vw;
    border-top-style: solid;
    border-top-width: thin;
    border-left-style: solid;
    border-left-width: thin;
    border-right-style: solid;
    border-right-width: thin;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-color: rgba(230, 230, 230, 1);
}

#formulary_sign_up_link {
    margin-top: 2vw;
    font-size: 1vw;
    text-align: center;
    margin-right: 8vw;
}

.logo {
    width: 24vw;
    height: 6vw;
    margin-left: -7vw;
}

.button {
    background-color: lightskyblue;
    border: none;
    color: white;
    padding: 0.9vw 9vw;
    text-align: center;
    font-size: 0.6vw;
    margin: 2vw -4vw;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    opacity: 2;
}

#footer{
    position: fixed;
    z-index: 1;
    height: 90px;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer_bar{
  /*  background-color: rgba(255, 255, 255, 0);*/
    height: 50px;
    width: 100%;
    bottom: 0;
    justify-content: center;
    align-items: center;
}
